.opencode
.env
.codex
datasets
tokenizers
.vscode
*.out
*.err
AgentFlow
results*
pwd.txt
examine.json
activate_environment.sh
results_version_tracking
__pycache__
log
logs
plots

.venv
# Added by cargo

/target
src_py/modal/inference_deploy_config.json
src_py/modal/training_deploy_config.json
