.opencode
.env
.codex
datasets
tokenizers
.vscode
*.out
*.err
AgentFlow
results
pwd.txt
examine.json
activate_environment.sh
results_version_tracking
__pycache__

plots

.venv
# Added by cargo

/target

