{% if epoch == 0 %}
/work/hdd/bfdz/zluo8/credit-assignment/results/{{ model_cli_name }}
{% else %}
/work/hdd/bfdz/zluo8/credit-assignment/results/{{ model_cli_name }}/{{ config_nickname }}/epoch_{{ epoch }}
{% endif %}
