{% if epoch == 0 %}
{{ storage_large_files_dir }}/results/{{ model_cli_name }}
{% else %}
{{ storage_large_files_dir }}/results/{{ model_cli_name }}/{{ config_nickname }}/epoch_{{ epoch }}
{% endif %}
